---
---

@import url(base16_solarised.css);

body {
  font-family: "Segoe UI", Helvetica;
}

.main-content {
  max-width: 800px;
  margin: auto;
}

.title {
  text-align: center;
}
  
.table_with_monospace_font td {
  font-family: "Courier New"
}

/* Space between competitions and contributors footer in home+summary pages. */
#footer_space {
  padding-top: 60px;
}

/* Center contributors footer and make font size smaller. */
#footer {
  font-size: 75%;
  width: 600px;
  margin: auto;
}

/* Remove new line from the contributors' displayer div. */
.contributors_displayer {
  display: inline;
}

/* Μορφοποίηση για το "Συγγραφέας: ..." */
.author_container {
  text-align: right;
}

/* Μορφοποίηση για το "Συγγραφέας:" */
.author {
  font-weight: bold;
}

.table_with_borders {
  border-collapse: collapse;
  > table, td, th {
    border: 1px solid black;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
  }
}
