---
---

@import url(base16_solarised.css);

body {
  font-family: "Segoe UI", Helvetica;
}

/* Font size of math formulas. */
.katex { font-size: 1.1em !important; } 
/* Font size of inline code. (Should match size of math formulas. */
.language-plaintext { font-size: 1.1em; }

code {
  font-family: 'KaTeX_Typewriter';
}

.main-content {
  max-width: 800px;
  margin: auto;
}

.title {
  text-align: center;
}
  
.table_with_monospace_font td {
  font-family: "Courier New"
}

.center_image {
  text-align: center;
}

/* Space between competitions and contributors footer in home+summary pages. */
#footer_space {
  padding-top: 60px;
}

/* Center contributors footer and make font size smaller. */
#footer {
  font-size: 75%;
  max-width: 600px;
  margin: auto;
}

/* Remove new line from the contributors' displayer div. */
.contributors_displayer {
  display: inline;
}

/* Μορφοποίηση για το "Συγγραφέας: ..." */
.author_container {
  text-align: right;
}

/* Μορφοποίηση για το "Συγγραφέας:" */
.author {
  font-weight: bold;
}

/* Μορφοποίηση για τα announcements. */
.announcement {
  margin: auto;
  max-width: 600px;
  background-color: #FFE387;
  padding: 10px;
  border: 2px solid #a48904;
}

.center_table {
  margin: auto;
}

.table_with_borders {
  border-collapse: collapse;
  > table, td, th {
    border: 1px solid black;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
  }
}
