---
title: Αρχείο Πανελλήνιου Διαγωνισμού Πληροφορικής
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
	 <link rel="stylesheet" href="/css/main.css">
    {% include scripts.html %}
    <title>{{ page.title }}</title>
  </head>
  <body class="main-content">
    {% include header.html %}
    {% assign sortedCollections = site.collections %}
    {% for collection in site.collections reversed %} 
	  {% if collection.label != "posts" %}
	    {% for post in site[collection.label] %}
          {% if post.layout == "summary" %}		
        <article>
          <h4 class="title">
            <a href="{{ post.url }}">{{ post.contest_no }}ος Πανελλήνιος Διαγωνισμός Πληροφορικής (ΠΔΠ)</a>
          </h4>
        </article>
		  {% endif %}
	    {% endfor %}
      {% endif %}
    {% endfor %}
    <article>
       <h4 class="title">
         <a href="/all">Όλοι οι διαγωνισμοί</a>
       </h4>
    </article>
    <article>
       <h4 class="title">
         <a href="/categorised">Όλα τα προβλήματα σε κατηγορίες</a>
       </h4>
    </article>
	<div id="footer_space"></div>
	{% include contributors_footer.html %}
   <div style="padding-top:20px"> </div>
  </body>
</html>
