---
title: Αρχείο Πανελλήνιου Διαγωνισμού Πληροφορικής
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="/css/main.css">
	<script src="js/contributors_displayer.js"> </script>
    <title>{{ page.title }}</title>
  </head>
  <body class="main-content">
    {% include header.html %}
    {% assign sortedCollections = site.collections %}
    {% for collection in site.collections reversed %} 
	  {% if collection.label != "posts" %}
	    {% for post in site.[collection.label] %}
          {% if post.tags contains "summary" %}		
        <article>
          <h4 class="title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h4>
        </article>
		  {% endif %}
	    {% endfor %}
      {% endif %}
    {% endfor %}
	<div id="footer">
	  Οι λύσεις σε αυτό το site είναι ανεπίσημες και μπορεί να περιέχουν λάθη. Προσπαθούμε να τις διατηρούμε σωστές, επομένως, αν εντοπίσετε οποιοδήποτε λάθος στον κώδικα ή στο κείμενο, ενημερώστε μας <a href="https://github.com/pdp-archive/pdp-archive.github.io/issues">εδώ</a>.

      Λύσεις έχουν συνεισφέρει οι “έμπειροι” πρώην διαγωνιζόμενοι: <div id="contributors_displayer"></div>.

	</div>
    <script type="text/javascript">
      populateShuffledNames("contributors_displayer");
    </script>
  </body>
</html>
<html>
