<table id="categorised_table">
<tbody>
{% assign sortedCollections = site.collections %}
 {% for collection in site.collections reversed %} 
  {% if collection.label != "posts" %}
    {% for post in site[collection.label] %}
       {% if post.layout == "summary" %}

{% assign contest_url = post.url | replace: "/", "" | replace: "index", "" %}
{% assign contest = site.data.contests[contest_url] %}
{% assign git_code_location = "https://github.com/pdp-archive/pdp-archive.github.io/tree/master/_includes/source_code/code/" | append: contest_url | append: "/" %}

{% for problem_it in contest %}
<tr><td>
{% capture md %}
{% include single_problem.md problem_it=problem_it include_tags=true %}
{% endcapture %}
{{ md | markdownify }}
</td></tr>
{% endfor %}

     {% endif %}
    {% endfor %}
   {% endif %}
 {% endfor %}
 </tbody>
</table>