<!DOCTYPE html>
{% assign contest = site.data.contests[page.contest_url] %}
{% assign task = contest[page.codename] %}
{% if task.stage == "c" %}
  {% assign stage_name = "Γ' Φάση" %}
{% elsif task.stage == "bgym" %}
  {% assign stage_name = "B' Φάση Γυμνασίου" %}
{% elsif task.stage == "blyk" %}
  {% assign stage_name = "B' Φάση Λυκείου" %}
{% elsif task.stage == "a" %}
  {% assign stage_name = "Α' Φάση" %}
{% elsif task.stage == "camp_c" %}
  {% assign stage_name = "Καμπ (κοινά)" %}
{% elsif task.stage == "camp_j" %}
  {% assign stage_name = "Καμπ (juniors)" %}
{% elsif task.stage == "camp_s" %}
  {% assign stage_name = "Καμπ (seniors)" %}
{% endif %}
{% assign title = page.contest | append: " " | append: stage_name | append: "<br>" | append: task.full_name | append: " (" | append: page.codename | append: ")" %}
<html lang="el">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="/css/main.css">
	{% include scripts.html %}
    <title>{{ title | replace: "<br>","-"  }}</title>
	<style>
	  table {
	    width: 100%;
	  }
	  table, td, th {
	    border-spacing: 0px;
        border: 1px solid black;
		vertical-align: top;
      }
	</style>
  </head>
  <body>
{% unless page.tags contains "summary" %}
{% endunless %}
  {% include announce_everywhere.html %}
  <div class="main-content">
    <div style="text-align:right">
      <div>
        <a href="/">Αρχική</a> > 
        <a href="/{{ page.contest_url }}">{{ page.contest }} </a>
      </div>
    </div>
    <article id="post"> 
      <h1 class="title">{{ title }}</h1>
	  {% if task.stage == "c" %}
	    {% assign points = " [" | append: task.points | append: " Μονάδες]" %}
		<h4 style="text-align: right">{{points}}</h4>
      {% endif %}
      <div style="text-align: justify">
      {{ content }}
      </div>
    </article>
  </div>
  {% include contributors_footer.html %}
  </body>
</html>
